/* 
  Our custom container 
  TODO: If need please update (xl,2xl or more) as per your design, no need to touch upto lg breakpoint
*/
.container {
  /* local variable  */
  --spacing-x: 16px;
  --padding-left: var(--spacing-x);
  --padding-right: var(--spacing-x);
  --padding: calc(var(--padding-left) + var(--padding-right));
  --container-2xl: 1320px;

  @apply w-full mx-auto;
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
  max-width: calc(theme(screens[sm]) + var(--padding));
}

.container.full-width {
  @apply max-w-full;
}
.container.no-padding {
  --spacing-x: 0px;
}
@screen md {
  .container {
    max-width: calc(theme(screens[md]) + var(--padding));
  }
}

@screen lg {
  .container {
    max-width: calc(theme(screens[lg]) + var(--padding));
  }
}

@screen xl {
  .container {
    max-width: calc(theme(screens[xl]) + var(--padding));
  }
}

@screen 2xl {
  .container {
    max-width: calc(var(--container-2xl) + var(--padding));
  }
}

/* 
TODO: If need more wider container layout, follow this convention 
@media (min-width: 1600px) {
  .container {
    max-width: calc(var(--container-3xl) + var(--padding));
  }
} 
*/
