@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --transition: all 0.35s ease-in-out;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-secondary;
  }

  html {
    /* TODO: If you have fixed navbar, please set scroll padding as per your navbar height */
    @apply scroll-smooth scroll-p-[6rem] lg:scroll-p-[9rem];
  }

  .app-wrapper,
  body,
  p {
    @apply font-primary text-base;
  }
}

/**
* Used in all section components
*/
@layer components {
  .section-padding-primary {
    @apply py-[3.75rem] md:py-[6.25rem] xl:py-[7.5rem];
  }
}

/* 
  Our custom container 
  TODO: If need please update (xl,2xl or more) as per your design, no need to touch upto lg breakpoint
*/
.container {
  /* local variable  */
  --padding-left: 16px;
  --padding-right: 16px;
  --padding: calc(var(--padding-left) + var(--padding-right));

  @apply w-full mx-auto;
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
  max-width: calc(theme(screens[sm]) + var(--padding));
}
@screen md {
  .container {
    max-width: calc(theme(screens[md]) + var(--padding));
  }
}

@screen lg {
  .container {
    max-width: calc(theme(screens[lg]) + var(--padding));
  }
}

@screen xl {
  .container {
    max-width: calc(theme(screens[xl]) + var(--padding));
  }
}

@screen 2xl {
  .container {
    max-width: calc(theme(screens[2xl]) + var(--padding));
  }
}

/* 
TODO: If need more wider container layout, follow this convention 

@media (min-width: 1600px) {
  .container {
    @apply max-w-[1632px];
  }
} 
*/
